.tTable {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 16px;
  overflow: hidden;
  font-size: 14px;
  box-shadow: 0 0 3px #eaeaea !important;
}

.tHead {
  color: #fff;
  font-weight: bold;
  background-color: @primary-color;
  padding: 10px 0;
  text-align: center;
}

.tRow {
  display: grid;
  justify-items: center;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(255, 130, 0, 0.17);
  }
}

.tHead .tRow:hover {
  color: #fff !important;
}

.tBody .tRow {
  height: 60px;
  cursor: pointer;
  transition: background-color 100ms;

  &:hover {
    color: #333 !important;
    background-color: rgba(255, 130, 0, 0.07);
  }
}

.diamond {
  margin-right: 5px;
  width: 22px;
  height: 22px;
}

.name {
  padding-left: 4px;
  justify-self: flex-start;
  word-break: break-word;
  font-weight: 600;
  height: 100%;

  span {
    position: relative;
    flex: none;
  }

  .coinLogo {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 2px;
    margin-right: 12px;
  }

  .coinChain {
    position: absolute;
    top: -4px;
    right: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

.links {
  display: flex;
  align-items: center;

  > *:nth-child(n + 1) {
    margin-left: 2px;
  }

  > svg {
    width: 30px;
    height: 30px;
  }
}

.linkTt {
  :global {
    .ant-tooltip-inner {
      padding: 2px 0;
      min-height: 0;

      > span {
        padding: 5px 8px;
      }
    }
  }
}

.tgIcon {
  position: relative;
  width: 30px;
  height: 30px;

  > svg {
    width: 30px;
    height: 30px;
  }

  svg + svg {
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 14px;
    height: 14px;
  }
}

.upvote {
  width: 110px;

  > div {
    width: 100%;
    height: 36px;
    overflow: hidden;

    &:hover,
    &:active {
      color: #fff;
      background-color: #ff8200;
    }

    svg {
      flex: none;
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
}

.voting {
  color: #ffe7d5 !important;
  background-color: #ffce9b !important;

  &:hover,
  &:active {
    color: #ffe7d5 !important;
    background-color: #ffce9b !important;
  }
}

.date {
  i {
    font-style: normal;
    margin-left: 4px;
  }
}

.btnCol {
  > div {
    padding: 0 16px;
    height: 28px;
    border-radius: 7px;
    z-index: 2;
  }
}

.tRow {
  grid-template-columns: 18% 10% 18% 9% 9% 20% 16%;
}

@media screen and (max-width: 1440px) {
  .tRow {
    grid-template-columns: 20% 10% 18% 9% 9% 18% 16%;
  }
}

@media screen and (max-width: 888px) {
  .tRow {
    font-size: 12px;
    grid-template-columns: 22% 0 20% 10% 10% 20% 18%;

    > div:nth-of-type(2) {
      width: 100%;
      height: 0;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 666px) {
  .tRow {
    font-size: 12px;
    grid-template-columns: 27% 0 25% 0 0 23% 25%;

    > div:nth-of-type(4),
    > div:nth-of-type(5) {
      width: 100%;
      height: 0;
      overflow: hidden;
    }

    .upvote {
      width: 72px;

      > div {
        height: 32px;
      }

      svg {
        margin-right: 4px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .tRow {
    grid-template-columns: 34% 0 20% 0 0 26% 20%;
  }

  .date span {
    display: none;
  }

  .name {
    line-height: 1.2;
    overflow: hidden;

    .coinLogo {
      width: 40px;
      height: 40px;
      margin-right: 4px;
      flex: none;
    }
  }

  .date {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      margin-left: 0;
    }
  }
}

/* 信息查看弹窗 */
.infoModal {
  width: 666px !important;

  :global {
    .ant-modal-confirm-content {
      margin-left: 0 !important;

      > div {
        max-height: 66vh;
        overflow-y: auto;
        margin-top: 16px;
      }
    }

    textarea {
      padding: 0;
      border: none !important;
      box-shadow: none !important;

      &:hover,
      &:active {
        border: none !important;
        box-shadow: none !important;
      }
    }
  }
}

// 链接列部分隐藏
@media screen and (max-width: 1222px) {
  .links > *:nth-child(n + 6) {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .links > *:nth-child(n + 5) {
    display: none;
  }
}

@media screen and (max-width: 410px) {
  .links > *:nth-child(n + 4) {
    display: none;
  }

  .links {
    > svg {
      width: 28px;
      height: 28px;
    }

    .tgIcon {
      width: 28px;
      height: 28px;

      > svg {
        width: 28px;
        height: 28px;

        + svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}
