.header {
  z-index: 999;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #21252a;
  position: sticky;
  top: 0;
  margin-bottom: 16px;
}

.headerBtn {
  display: flex;
  align-items: center;

  > div:not(:first-of-type) {
    margin-left: 16px;
  }
}

.langBtn {
  width: 92px;
  height: 40px !important;
  box-shadow: inset 0 0 6px #cb663a;

  &:hover {
    transform: scale(1.05);
    background-color: #fff !important;
  }

  * {
    pointer-events: none;
  }
}

.langTog {
  > div {
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.zh {
  > div {
    transition: transform 150ms;
  }
  > div:first-child {
    transform: scale(1.8);
    font-weight: bold;
  }

  > div:last-child {
    transform: scale(0.88);
    color: #545454;
  }
}

.en {
  > div {
    transition: transform 150ms;
  }
  > div:last-child {
    transform: scale(1.8);
    font-weight: 550;
  }

  > div:first-child {
    transform: scale(0.88);
    color: #545454;
  }
}

.bouncing {
  animation: bouncing 500ms ease-in 0s infinite alternate;
}

@keyframes bouncing {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

.popPro {
  width: auto;
  padding: 16px 4px 4px;
  margin-bottom: 8px;
  left: 8px;
  background: #272c30;
  box-shadow: 0 0 5px #241d1d;

  img {
    width: 333px;
    height: 333px;
    object-fit: cover;
    border-radius: 8px;

    @media screen and (max-width: 500px) {
      width: 277px;
      height: 277px;
    }
    @media screen and (max-width: 444px) {
      width: 234px;
      height: 234px;
    }
  }

  :global {
    .ant-notification-notice-close {
      top: 0;
      right: 3px;
      width: 30px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.sideCtrl {
  display: none;
  font-size: 28px;
  margin-left: 16px;
  cursor: pointer;
}

@media screen and (max-width: 1110px) {
  .sideCtrl {
    display: block;
  }
}

@media screen and (max-width: 630px) {
  .headerBtn > div:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 490px) {
  .headerBtn > div:nth-child(2) {
    display: none;
  }
}
